<!doctype html>
<html lang="{{ metadata.language }}" class="dark" data-theme="dark" :class="theme.name" x-data="xDOM">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Metadata #}
		<title>{{ title or metadata.title }}{{ suffix or metadata.suffix }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">

    {# Canonical #}
    <link rel="canonical" href="{{ page.url | htmlBaseUrl(metadata.url) }}">

    {# Favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#18181b" :color="theme.dark?'#18181b':'#fafafa'">
    <meta name="msapplication-TileColor" content="#18181b" :content="theme.dark?'#18181b':'#fafafa'">
    <meta name="theme-color" content="#18181b" :content="theme.dark?'#18181b':'#fafafa'">

    {# color theme toggle #}
    <script>!function(t,e,m){t&&"light"===t&&(e.classList.remove("dark"),e.setAttribute("data-theme","light"),m.setAttribute("content","#ffffff"))}(localStorage.getItem("theme"),document.documentElement,document.querySelector('meta[name="theme-color"]'));</script>

    {%- if eleventy.env.runMode === "serve" -%}
      <link rel="stylesheet" href="/css/main.css">
    {%- else -%}
      <style>{%- include "../../../_site/css/main.css" -%}</style>
    {%- endif -%}

	</head>
	<body class="bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-neutral-300">
		<a href="#skip" class="sr-only">Skip to main content</a>

    <div class="flex flex-col w-full justify-between min-h-screen">
      {% include "partials/header.njk" %}

      <main id="skip" class="mx-auto flex w-full max-w-7xl flex-auto flex-col justify-stretch px-6 py-8 sm:py-12 md:py-24 lg:px-8">
        {{ content | safe }}
      </main>

      {% include "partials/footer.njk" %}
    </div>

    <script src="/js/main{%- if eleventy.env.runMode == 'build' -%}.{{ build.hash.short }}{%- endif -%}.js" defer type="text/javascript"></script>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
